body {
    background-color: azure;
    margin: auto;
    text-align: center;
    align-items: center;
    
}

h1 {
    color: darkslategray;
    font-family: "Bebas Neue", sans-serif;

}

h3 {
    color: firebrick;
}

.friend {
    background-color: honeydew;
    margin: auto;
    padding: 2em;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: darkslategray;
    border: 5px solid slategray;
    border-radius: 25px;
}

.friend > h3 {
    text-transform:uppercase;
    font-size: larger;
}

#red {
    color: orangered;
}
button {
    display: block;
    position: relative;
    margin: 0 auto;
    background: transparent;
    width: 100px;
    height: auto;
    font-size: larger;
    border-radius: 30px;
    border: 4px solid firebrick;
    font-family: "Roboto", sans-serif;
    color: firebrick;
    text-transform: uppercase;
    
}